In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [13]:
data = pd.read_csv("final.csv")

In [14]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,filename
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member,mini project 2\2010-capitalbikeshare-tripdata.csv

In [15]:
data = data[data.columns[:9]]

In [16]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [17]:
data.to_csv('final1.csv')

In [ ]:
data['Member type'].value_counts()

In [ ]:
# we did this because we need to filter out the unknown members type
data = data[(data['Member type']=='Casual') | (data['Member type']=='Member')]

In [ ]:
data['Member type'].value_counts()

In [ ]:
x = data.iloc[:,[0,3,5]].values
y = data.iloc[:,-1].values

In [ ]:
# Transforming the type into an encoded form because it is categorical
le = LabelEncoder()
y = le.fit_transform(y.flatten())

In [ ]:
print(y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=0)

In [ ]:
# Decision Tree Classifier

tree = DecisionTreeClassifier(max_leaf_nodes=3, random_state=0)
tree.fit(X_train, y_train)
y_pred = tree.predict(X_test)

# Accuracy
score = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of our model is: {:.1f}%".format(score*100))
print(classification_report(y_test, y_pred))

In [ ]:
#Decision Tree Classifier with different attributes
tree_two = DecisionTreeClassifier(criterion="entropy", max_depth=11)
tree_two.fit(X_train, y_train)
y_pred = tree_two.predict(X_test)

# Accuracy
score = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of our model is: {:.1f}%".format(score*100))
print(classification_report(y_test, y_pred))

In [ ]:
# K- Nearest Neighbors
neighbor = KNeighborsClassifier(10)
neighbor.fit(X_train, y_train)
y_pred = neighbor.predict(X_test)

# Accuracy
score = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of our model is: {:.1f}%".format(score*100))
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Random Forest 
rfc=RandomForestClassifier(n_estimators=15,criterion='entropy',random_state=0)
rfc.fit(X_train,y_train)

In [ ]:
y_pred = rfc.predict(X_test)
# Accuracy
score = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of our model is: {:.1f}%".format(score*100))
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# Logisitic Regression
logis = LogisticRegression(random_state = 0)
logis.fit(X_train, y_train)
y_pred = logis.predict(X_test)

#Accuracy
score = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of our model is: {:.1f}%".format(score*100))
print(classification_report(y_test, y_pred))

In [ ]:
#from sklearn.svm import SVC

In [ ]:
# SVM
#svm = SVC(kernel='linear', probability=True, random_state=42)
#svm.fit(X_train, y_train)
#y_pred = svm.predict(X_test)

#score = metrics.accuracy_score(y_test, y_pred)
#print("Accuracy of our model is: {:.1f}%".format(score*100))
#print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler

In [ ]:
#Neural Network

#converting the values from integer to floar
scaler = StandardScaler()  
scaler.fit(X_train)  
X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

In [ ]:
neuralnet = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(5, 3), random_state=1)
neuralnet.fit(X_train, y_train)

In [ ]:
y_pred = neuralnet.predict(X_test) # performing prediction
#Accuracy
score = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of our model is: {:.1f}%".format(score*100))
print(classification_report(y_test, y_pred))